<!--
  ~ Copyright (c) 2014.
  ~
  ~ Visit https://github.com/donmahallem/andlol for more info!
  ~
  ~ Romanes eunt domus - Brian!
  -->

<manifest
    package="eu.m0k.lol.views"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        >

    </application>

</manifest>
